
@{
    ViewBag.Title = "shangpxq";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>购物</title>
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
    <script src="~/Scripts/Shopping.js"></script>
    <script type="text/javascript">
         var id = @ViewBag.list2.ComId;
        $(function () {
            alert("22");
            $("#div_box-right-8-div-2").click(function () {
                alert("2222");
                $.post("/Index/ADDBuyCart", { pic:@ViewBag.list2.CpicUrl1, comid:@ViewBag.list2.ComId, price:@ViewBag.list2.Cprice, name:@ViewBag.list2.CName, uid:@Session["userID"]}, function () {

                },"json");
            });
        });
    </script>
</head>
<body>
    <div id="div_box">
        
        <div class="wrap">
            <div class="smallImg imgBox">
                <img src="/images/@ViewBag.list2.CpicUrl1" alt="chothes" width="400" height="400" />
                <div id="shadow">
                    <table border="1px" width="100px" height="100px"><tr><td class="td_top td_left"></td><td class="td_top"></td><td class="td_top"></td><td class="td_top"></td><td class="td_top"></td><td class="td_top"></td><td class="td_top"></td><td class="td_top"></td><td class="td_top"></td><td class="td_top"></td><td class="td_top"></td><td class="td_top"></td><td class="td_top"></td><td class="td_top"></td><td class="td_top"></td><td class="td_top"></td><td class="td_top"></td><td class="td_top"></td><td class="td_top"></td><td class="td_top td_right"></td></tr><tr><td class="td_left"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td class="td_right"></td></tr><tr><td class="td_left"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td class="td_right"></td></tr><tr><td class="td_left"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td class="td_right"></td></tr><tr><td class="td_left"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td class="td_right"></td></tr><tr><td class="td_left"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td class="td_right"></td></tr><tr><td class="td_left"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td class="td_right"></td></tr><tr><td class="td_left"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td class="td_right"></td></tr><tr><td class="td_left"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td class="td_right"></td></tr><tr><td class="td_left"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td class="td_right"></td></tr><tr><td class="td_left"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td class="td_right"></td></tr><tr><td class="td_left"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td class="td_right"></td></tr><tr><td class="td_left"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td class="td_right"></td></tr><tr><td class="td_left"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td class="td_right"></td></tr><tr><td class="td_left"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td class="td_right"></td></tr><tr><td class="td_left"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td class="td_right"></td></tr><tr><td class="td_left"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td class="td_right"></td></tr><tr><td class="td_left"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td class="td_right"></td></tr><tr><td class="td_left"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td class="td_right"></td></tr><tr><td class="td_left"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td class="td_right"></td></tr><tr><td class="td_left td_bottom"></td><td class="td_bottom"></td><td class="td_bottom"></td><td class="td_bottom"></td><td class="td_bottom"></td><td class="td_bottom"></td><td class="td_bottom"></td><td class="td_bottom"></td><td class="td_bottom"></td><td class="td_bottom"></td><td class="td_bottom"></td><td class="td_bottom"></td><td class="td_bottom"></td><td class="td_bottom"></td><td class="td_bottom"></td><td class="td_bottom"></td><td class="td_bottom"></td><td class="td_bottom"></td><td class="td_bottom"></td><td class="td_right td_bottom"></td></tr></table>
                </div>
            </div>
            <div class="bigImg imgBox">
                <img src="/images/@ViewBag.list2.CpicUrl1" alt="chothes" width="800" height="800" />
            </div>
        </div>
        <div id="div_box-right">
            <div id="div_box-right-1">
                <span id="div_box-right-1-span_1">@ViewBag.list2.CName</span>
            </div>
            <div id="div_box-right-2">
                <span id="div_box-right-2-span_1">价格</span>
                <span id="div_box-right-2-span_2"><span style="font-weight: 200;">￥</span>@ViewBag.list2.Cprice.ToString().Split('.')[0]</span>
            </div>
            <div id="div_box-right-3">
                <span id="div_box-right-3-span_1">运费</span>
                <span id="div_box-right-3-span_2">
                    <a href="#">
                        10
                    </a>
                </span>
            </div>
            <div id="div_box-right-4">
                <div id="div_box-right-4-div-1"><a href="#"><span>累计评价<span style="color: #ff0036;font-weight: 700;">76</span></a></span><span style="font-size: 20px;font-weight: 100;position: absolute;margin-left:89px;">|</span></div>
                <div id="div_box-right-4-div-2"><a href="#"><span>送天猫积分<span style="color: green;font-weight: 700;">34</span></a></span></div>
            </div>
            <div id="div_box-right-5">
                <span>尺码</span>
                <div id="div_box-right-5-div-1">38</div>
                <div id="div_box-right-5-div-2">39</div>
                <div id="div_box-right-5-div-3">40</div>
                <div id="div_box-right-5-div-4">41</div>
                <div id="div_box-right-5-div-5">42</div>
            </div>
            <div id="div_box-right-6">
                <span>颜色</span>
                <div id="div_box-right-6-div-1"><img src="/images/@ViewBag.list2.CpicUrl1" width="38px" height="38px" /></div>
                <div id="div_box-right-6-div-2"><img src="/images/@ViewBag.list2.CpicUrl2" width="38px" height="38px" /></div>
                <div id="div_box-right-6-div-3"><img src="/images/@ViewBag.list2.CpicUrl3" width="38px" height="38px" /></div>
                <div id="div_box-right-6-div-4"><img src="/images/@ViewBag.list2.CpicUrl4" width="38px" height="38px" /></div>
                <div id="div_box-right-6-div-5"><img src="/images/@ViewBag.list2.CpicUrl5" width="38px" height="38px" /></div>
                <div id="div_box-right-6-div-6"><img src="/images/@ViewBag.list2.CpicUrl6" width="38px" height="38px" /></div>
            </div>

            <div id="div_box-right-8">
                <div id="div_box-right-8-div-1"><span>立即购买</span></div>
                <button id="div_box-right-8-div-2" class="btnBuyCart"> 加入购物车</button>
            </div>
        </div>
        <div id="div_box-bottom">
            <div id="div_box-bottom-left">
                <div id="div_box-bottom-left-div-1"><img src="/images/@ViewBag.list2.CpicUrl1" width="55px" height="55px" /></div>
                <div id="div_box-bottom-left-div-2"><img src="/images/@ViewBag.list2.CpicUrl2" width="55px" height="55px" /></div>
                <div id="div_box-bottom-left-div-3"><img src="/images/@ViewBag.list2.CpicUrl3" width="55px" height="55px" /></div>
                <div id="div_box-bottom-left-div-4"><img src="/images/@ViewBag.list2.CpicUrl4" width="55px" height="55px" /></div>
                <div id="div_box-bottom-left-div-5"><img src="/images/@ViewBag.list2.CpicUrl5" width="55px" height="55px" /></div>
                <div id="div_box-bottom-left-mid">
                    <div id="div_box-bottom-left-mid-div-1">
                        <svg t="1588667969983" style="width:0.8em;height: 0.8em;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="8167" width="200" height="200"><path d="M869.76 425.088c-6.272-17.664-22.272-30.464-41.6-33.28l-187.648-27.264-81.536-165.632c-8.576-17.408-27.008-28.544-47.232-28.544-20.224 0-38.528 11.136-47.104 28.544l-81.536 165.632-187.776 27.264c-19.2 2.816-35.328 15.744-41.472 33.28-6.144 17.664-1.536 37.12 12.16 50.304l137.344 134.4L271.488 796.16c-3.2 18.816 5.12 37.632 21.376 48.512 8.96 6.016 19.456 9.088 29.952 9.088 8.704 0 17.28-2.048 25.216-6.144l163.712-86.144 163.712 86.144c7.808 4.096 16.384 6.144 25.216 6.144 10.752 0 21.12-3.2 30.08-9.088 16.256-11.008 24.576-29.824 21.376-48.512l-31.872-186.368L857.6 475.52c13.696-13.312 18.304-32.768 12.16-50.432zM682.752 575.104" p-id="8168" fill="#cdcdcd"></path></svg>
                        <span style="cursor: pointer;">收藏商品</span>&nbsp;&nbsp;(319人气)
                    </div>
                    <div id="div_box-bottom-left-mid-div-2"><a href="">举报<a></div>
                </div>
            </div>
            <div id="div_box-bottom-right">
                <span id="div_box-bottom-right-span-1">服务承诺</span>
                <span id="div_box-bottom-right-span-2">正品保证</span>
                <span id="div_box-bottom-right-span-3">极速退款</span>
                <span id="div_box-bottom-right-span-4">赠运费险</span>
                <span id="div_box-bottom-right-span-5">
                    支付方式
                    <svg t="1588655621027" class="icon-gw" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1794" width="200" height="200"><path d="M512.1958953 678.40936215l-430.32155187-430.31418734c-18.07244469-18.08717365-47.4066589-18.08717365-65.48057651 0-18.08864655 18.07244469-18.08864655 47.4066589 0 65.48057649l463.06110366 463.06110364c18.07244469 18.08717365 47.4066589 18.08717365 65.4805765 0l463.05963077-463.06110364c9.04358683-9.03769525 13.56685314-20.89009642 13.56685313-32.7395518s-4.52326631-23.70185657-13.56685313-32.73955181c-18.07244469-18.08717365-47.4066589-18.08717365-65.48057651 0l-430.32007895 430.31418738z" fill="#515151" p-id="1795"></path></svg>
                </span>
                <span id="div_box-bottom-right-span-6">七天无理由退换</span>
                <span id="div_box-bottom-right-span-7">检测到您当前处于非安全网络环境，部分商品信息可能不准确，请在交易支付页面再次确认商品价格信息。</span>
            </div>
        </div>
    </div>
    
    <script src="~/Scripts/DressSize.js"></script>

    <script src="~/Scripts/DressColor.js"></script>
    <script src="~/Scripts/NumberOfClothes.js"></script>
    <script src="~/Scripts/DressStyle.js"></script>

</body>
</html>